<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Offo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.Offo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Offo.SecondScreenActivity"
            android:label="@string/app_name" >
            
        </activity>
         <activity
            android:name="com.example.Offo.ThirdScreenActivity"
            android:label="@string/app_name" >
            
        </activity>
         <activity
            android:name="com.example.Offo.FourthScreenActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.example.Offo.IciciScreenActivity"
            android:label="@string/app_name" >
            
        </activity>
         <activity
            android:name="com.example.Offo.AxisScreenActivity"
            android:label="@string/app_name" >
            
        </activity>
    </application>

</manifest>